body {
    background-image: url("https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Minimalist-Crumpled-Paper-Simple-Background-Image.jpg");
    height:100%;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
#AboutMe{
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    widows: 50px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ebc4c4;
    color: white;
    text-align: center;
}
footer2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ebc4c4;
    color: white;
    text-align: center;
}
